@{
    ViewBag.Title = "About";
}

<br />
<br />
<div id="nov">
    <div class="eden">
        <h2><i><b>Која е функцијата на полицијата?</b></i></h2>
        <br />
        <p><i><b></b></i></p>
        <ul>
            <i>
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   заштита на животите, правата, слободата, сигурноста на граѓаните
                <br />
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   заштита на јавниот ред и мир на имотот
                <br />
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   спречување на казнени дела и прекршувања, нивно откривање, и собирање на податоци за тие дела и нивните сторители
                <br />
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   трагање по сторителите на казнени дела според службена должност, како и нивно доставување на надлежните тела
                <br />
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   спречување на експлозии
                <br />
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   работа со странци
                <br />
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   надзор на државните граници
                <br />
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   осигурување и заштита на личности, објекти и простор
                <br />
                <img style="width:40px; height:35px; border-radius:50%" src="https://www.nicepng.com/png/detail/61-612259_red-check-clip-art-at-clkercom-vector-online.png" />   и други работи одредени со закон
                <br />
            </i>
        </ul>

        <br />
        <p>
            <input type='button' class="btn btn-danger" value='Назад' onclick='window.location = "@Url.Action("Index", "Home")";' />
        </p>
    </div>
</div>
