
@{
    ViewBag.Title = "Zrtvi";
}

<h2></h2>

<div class="double_category  wow fadeInDown animated" style=" box-shadow: rgba(3, 11, 85, 0.8) 10px 10px 15px -7px;
        visibility: visible;
        animation-name: fadeInDown;
        margin-top: 60px;
        background-color: rgba(3, 11, 85, 0.7);
        color: white;">
    <h1 style="text-align:center; font-family:'Comic Sans MS'"><b>ПРИЈАВИ И ТИ !</b></h1>
    <div class="category_title1">

    </div>
    <div style="width: 100%; margin: 2% 0%; display: inline-block">

        <div style="width: 24%; float: left; margin-left: 1% ">
            <div class="image-overflow-hidden" style=" overflow: hidden; margin-left:16px; ">
                <img src="https://media.istockphoto.com/photos/portrait-of-pretty-blond-woman-with-serious-face-picture-id154229669?k=6&m=154229669&s=170667a&w=0&h=XfXLKtCnj-PsS4PMj7oQWmXbI8IOe03kZw6rWXF9g9g=" class="img_isceznati" alt="potragi" height="265" style="border-radius: 5px">
            </div>
            <h6 id="img_isceznati1" style=" text-align: center;font-size: 18px; font-family: 'Comic Sans MS'" class="some-class-name2">Јована Јовановска</h6>
            <h6 style="text-align: justify; font-size: 14px; font-family: 'Comic Sans MS'">
                Јована ја раскинала петмесечната врска со Дарио откако тој станал насилен кон неа. Во следните две години,
                Дарио продолжил да ја вознемирува, да и се заканува, и физички и психолошки да ја малтретира Јована.
                Јована го пријавила насилството во полиција и Центарот за социјални работи. <b>Пријави и ти!</b>
            </h6>
        </div>

        <div style="width: 24%; float: left; margin-left: 1%">
            <div class="image-overflow-hidden" style=" overflow: hidden">
                <img src="https://cdn9.dissolve.com/p/D145_293_173/D145_293_173_1200.jpg" class="img_isceznati" alt="potragi" style="border-radius: 5px" height="265" width="210">

            </div>
            <h6 id="img_isceznati1" style=" text-align: center; font-size: 18px; font-family: 'Comic Sans MS'" class="some-class-name2">Стефанија Стефановска</h6>
            <h6 style=" text-align: justify; font-family: 'Comic Sans MS'; font-size:14px;">
                Давид бил физички и психолошки насилен спрема својата сопруга Стефанија. Стефанија го пријавила насилството во полиција,
                а на Давид му била изречена прекршочна казна за нарушување на јавниот ред и мир. <b>Пријави и ти!</b>
            </h6>
        </div>

        <div style="width: 24%; float: left; margin-left: 1%">
            <div class="image-overflow-hidden" style=" overflow: hidden">
                <img src="https://media.istockphoto.com/photos/real-caucasian-man-with-blank-expression-picture-id1081389024?k=6&m=1081389024&s=612x612&w=0&h=fxMhJytjJ5Wqy7z6mHevqGw6aLmO3Mwbk6caOB4Sm4k=" class="img_isceznati" height="265" alt="potragi" style="border-radius: 5px">
            </div>
            <h6 id="img_isceznati1" style="  text-align: center; font-size: 18px;
        font-family: 'Comic Sans MS'" class="some-class-name2">
                Петар Петровски
            </h6>
            <h6 style="text-align:justify; font-size:14px; font-family: 'Comic Sans MS' ">
                При кавга, Петар бил нападнат од својата девојка, која во лутина и бес му нанела телесни повреди. Петар го пријавил
                ова дело во полиција.<b>Пријави и ти!</b>
            </h6>
        </div>

        <div style="width: 24%; float: left; margin-left: 1%">
            <div class="image-overflow-hidden" style=" overflow: hidden">
                <img src="https://cdn7.dissolve.com/p/D145_268_661/D145_268_661_1200.jpg" class="img_isceznati" alt="potragi" style="border-radius: 5px" height="265" width="210">
            </div>
            <h6 id="img_isceznati1" style="text-align:center; font-size:18px; font-family: 'Comic Sans MS' " class="some-class-name2">Ангела Ангеловска</h6>
            <h6 style="text-align:justify; font-size:14px; font-family: 'Comic Sans MS' ">
                Ангела била жртва на семејно насилство. Нејзиниот татко бил психички и физичко насилен кон неа и нејзината мајка. Нејзината мајка
                се плашела да пријави во полиција, но Ангела го пријавила насилство, а нејзиниот татко ја добил соодветната казна.<b>Пријави и ти!</b>
            </h6>
        </div>



    </div>
    <div class="poveke">
        <input type='button' class="btn btn-primary" value='Назад' onclick='window.location = "@Url.Action("Index", "Home")";' />
    </div> <span></span>

</div>

